<script>
  var restfulApi = {
  	APPLANGALIAS:'en'
  };
</script>

<script type="text/javascript" src="<%=cdnUrl%>/dist/vendor/zepto.min.js"></script>
<script type="text/javascript" src="<%=cdnUrl%>/dist/vendor/react.min.js"></script>
<script type="text/javascript" src="<%=cdnUrl%>/dist/vendor/react-dom.min.js"></script>
<script type="text/javascript" src="<%=cdnUrl%>/dist/router.bundle.js"></script>
<script type="text/javascript" src="<%=cdnUrl%>/dist/IBU.H5.flight.js"></script>
</body>
</html>